<nb-card class="modal-custom">
    <nb-card-header>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h6 class="modal-title-custom">
                    <b>{{ title }}</b>
                </h6>
            </div>
            <div class="col-md-3">
                <nb-action matRipple icon="close-outline" class="modal-close-custom" (click)="close()"></nb-action>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form name="form" #formModal="ngForm">
            <!-- row 1 -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="login" class="label col-md-4 col-sm-4 col-form-label">unitCode: &nbsp;<span
                                [hidden]="view" style="color: red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="form-control" nbInput fullWidth id="login"
                                [(ngModel)]="item.unitCode" name="unitCode" #unitCode="ngModel" required
                                [ngxReadOnly]="view" [ngClass]="{
                'invalid-data': unitCode.invalid && (unitCode.touched || unitCode.dirty)
              }" placeholder="unitCode" />
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="parentCode" class="label col-md-4 col-sm-4 col-form-label">parentCode:
                            &nbsp;<span [hidden]="view" style="color: red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="form-control" nbInput fullWidth id="parentCode"
                                [(ngModel)]="item.parentCode" name="parentCode" #parentCode="ngModel" required
                                [ngxReadOnly]="view" [ngClass]="{
              'invalid-data': parentCode.invalid && (parentCode.touched || parentCode.dirty)
            }" placeholder="parentCode" />
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label for="parentCode" class="label col-md-4 col-sm-4 col-form-label">parentCode:
                        </label>
                        <div class="col-md-8 col-sm-8">
                            <nb-select  matRipple fullWidth id="parentCode" name="parentCode" [(selected)]="selected"
                                [(ngModel)]="item.parentCode" [ngxReadOnly]="view">
                                <nb-option matRipple *ngFor="let type of parentCodes" [value]="type.id">{{type.name}}</nb-option>
                            </nb-select>
                        </div>
                    </div> -->

                </div>
            </div>


            <!-- row 2 -->
            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <div class="form-group row">
                        <label for="departmentCode " class="label col-md-4 col-sm-4 col-form-label">Phòng ban:
                            &nbsp;</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="form-control" nbInput fullWidth id="departmentCode "
                                [(ngModel)]="item.departmentCode " name="departmentCode " #departmentCode="ngModel"
                                [ngxReadOnly]="view" placeholder="Phòng ban" />

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="maximumDevices " class="label col-md-4 col-sm-4 col-form-label">Số lượng thiết bị Max:
                            &nbsp;<span [hidden]="view" style="color: red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="number" class="form-control" nbInput fullWidth id="maximumDevices "
                                [(ngModel)]="item.maximumDevices " name="maximumDevices " #maximumDevices="ngModel"
                                required [ngxReadOnly]="view" [ngClass]="{
              'invalid-data': maximumDevices.invalid && (maximumDevices .touched || maximumDevices.dirty)
            }" placeholder="Lượng thiết bị" />

                        </div>
                    </div>
                </div>
            </div>

            
            <!-- row 4 -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group row">
                        <label for="displayName" class="label col-md-2 col-sm-2 col-form-label">Tên hiển thị:</label>
                        <div class="col-md-10 col-sm-10">
                            <input type="text" class="form-control" nbInput fullWidth id="displayName "
                            [(ngModel)]="item.displayName " name="displayName" [ngxReadOnly]="view" placeholder="Tên hiển thị" />
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="activated" class="label col-md-4 col-sm-4 col-form-label">Trạng thái:</label>
                        <div class="col-md-8 col-sm-8">
                            <nb-select matRipple fullWidth id="isActive" [(ngModel)]="item.isActive" name="isActive"
                                [ngxReadOnly]="view" [(selected)]="selectedStatus" placeholder="Lựa chọn trạng thái">
                                <nb-option matRipple *ngFor="let item of listStatus" [value]="item.id">{{item.name}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <div class="buttons-row">
                        <button nbButton status="info" class="btn-custom" (click)="save()" [hidden]="view"
                            [disabled]="!formModal.form.valid">
                            <nb-icon class="action-icon" icon="save-outline"></nb-icon>
                            Lưu
                        </button>
                        <button nbButton status="danger" class="btn-custom" (click)="close()">
                            <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>