<nb-card class="modal-custom">
    <nb-card-header>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h6 class="modal-title-custom">
                    <b>{{ title }}</b>
                </h6>
            </div>
            <div class="col-md-3">
                <nb-action matRipple icon="close-outline" class="modal-close-custom" (click)="close()"></nb-action>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formStudent">
            <!-- row 1 -->
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group row">
                        <nb-form-field>
                            <label for="deviceID" class="label col-md-4 col-sm-4 col-form-label">Mã học viên:
                                &nbsp;<span [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="studentId" class="form-control" nbInput fullWidth
                                    formControlName="studentId" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Mã học viên" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="studentId" [showRequired]="studentId?.errors?.required">
                        </ngx-validation-message>

                    </div>

                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group row">
                        <nb-form-field>
                            <label for="deviceID" class="label col-md-4 col-sm-4 col-form-label">Mã khóa học:
                                &nbsp;<span [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="courseId" class="form-control" nbInput fullWidth
                                    formControlName="courseId" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Mã khóa học" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="courseId" [showRequired]="courseId?.errors?.required">
                        </ngx-validation-message>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4">

                    <div class="form-group row">
                        <nb-form-field>
                            <label for="deviceID" class="label col-md-4 col-sm-4 col-form-label">CMT/CCCD: &nbsp;<span
                                    [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="citizenId" class="form-control" nbInput fullWidth
                                    formControlName="citizenId" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Mã thiết bị" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="citizenId" [showRequired]="citizenId?.errors?.required">
                        </ngx-validation-message>
                    </div>

                </div>
            </div>

            <!-- row 2 -->
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="form-group row">
                        <nb-form-field>
                            <label for="firstName" class="label col-md-4 col-sm-4 col-form-label">Họ: &nbsp;<span
                                    [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="firstName" class="form-control" nbInput fullWidth
                                    formControlName="firstName" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Họ" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="firstName" [showRequired]="firstName?.errors?.required">
                        </ngx-validation-message>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group row">
                        <nb-form-field>
                            <label for="tempName" class="label col-md-4 col-sm-4 col-form-label">Đệm: &nbsp;<span
                                    [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="tempName" class="form-control" nbInput fullWidth
                                    formControlName="tempName" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Tên đệm" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="tempName" [showRequired]="tempName?.errors?.required">
                        </ngx-validation-message>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group row">
                        <nb-form-field>
                            <label for="fullName" class="label col-md-4 col-sm-4 col-form-label">Họ và tên: &nbsp;<span
                                    [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="fullName" class="form-control" nbInput fullWidth
                                    formControlName="fullName" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Họ và tên" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="fullName" [showRequired]="fullName?.errors?.required">
                        </ngx-validation-message>
                    </div>
                </div>




            </div>

            <!-- row 3 -->
            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <div class="form-group row">
                        <nb-form-field>
                            <label for="image" class="label col-md-4 col-sm-4 col-form-label">Ảnh: &nbsp;<span
                                    [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="image" class="form-control" nbInput fullWidth
                                    formControlName="image" required [ngxReadOnly]="mode == 'view'" placeholder="" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="image" [showRequired]="image?.errors?.required">
                        </ngx-validation-message>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <nb-form-field>
                            <label for="trainClassId" class="label col-md-4 col-sm-4 col-form-label">Mã khóa học:
                                &nbsp;<span [hidden]="mode == 'view'" style="color: red">*</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="trainClassId" class="form-control" nbInput fullWidth
                                    formControlName="trainClassId" required [ngxReadOnly]="mode == 'view'"
                                    placeholder="Mã khóa học" />
                            </div>
                        </nb-form-field>
                        <ngx-validation-message label="trainClassId" [showRequired]="trainClassId?.errors?.required">
                        </ngx-validation-message>
                    </div>
                </div>
            </div>

            <!-- row 3 -->
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="form-group row">
                        <nb-form-field>
                            <label for="note" class="label col-md-4 col-sm-4 col-form-label">Ghi chú: &nbsp;
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="note" class="form-control" nbInput fullWidth
                                    formControlName="note" [ngxReadOnly]="mode == 'view'" placeholder="" />
                            </div>
                        </nb-form-field>

                    </div>
                </div>
            </div>

        </form>


    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <div class="buttons-row">
                        <button nbButton status="info" class="btn-custom" (click)="save()" [hidden]="mode =='view'"
                            [disabled]="!formStudent.valid">
                            <nb-icon class="action-icon" icon="save-outline"></nb-icon>
                            Lưu
                        </button>
                        <button nbButton status="danger" class="btn-custom" (click)="close()">
                            <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>