<nb-layout>
    <nb-layout-column>
        <div class="row login-row">
            <div class="col-12 col-sm-6 col-md-8">
                <section class="login-title">
                    <p><b>
                            <h4 style="color:white">Phần mềm giám sát lái xe</h4>
                        </b></p>
                    <!-- <p><b><h4 style="color:white">hồ sơ</h4></b></p> -->
                </section>
            </div>
            <div class="col-6 col-md-4">
                <ngx-auth-block>
                    <router-outlet></router-outlet>
                </ngx-auth-block>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>