<nb-card class="modal-custom">
  <nb-card-header>
    <div class="form-group row">
      <div class="col-12 col-md-10 mb-2">
        <h6 class="modal-title-custom">
          <b>{{ title }}</b>
        </h6>
      </div>
      <div class="col-12 col-md-2 mb-2">
        <nb-action matRipple icon="close-outline" class="modal-close-custom" (click)="close()"></nb-action>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <p>working</p>


  </nb-card-body>
  <nb-card-footer>
    <div class="form-group row">
      <div class="col-md-3 col-sm-3"></div>
      <div class="col-md-6">
        <div class="text-center">
          <div class="buttons-row">
            <!-- <button nbButton status="info" class="btn-custom" (click)="save()" [hidden]="view"
              [disabled]="!formModal.form.valid">
              <nb-icon class="action-icon" icon="save-outline"></nb-icon>
              Lưu
            </button> -->
            <button nbButton status="danger" class="btn-custom" (click)="close()">
              <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
              Hủy
            </button>


          </div>
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>